<div class="row search">
    <section>
        <div class="col-12">
            <h6>Search</h6>
            <form name="searchPanel" [formGroup]="searchPanel" autocomplete="off">
                <div class="row">
                    <div class="col-12">
                        <input #txtSearch formControlName="txtSearch" id="txtSearch" name="txtSearch" type="text" class="form-control"
                            placeholder="" />
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>