<div class="row">
    <div class="col-12">
        <form [formGroup]="form" autocomplete="off">
            <legend>Add Item</legend>
            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input id="name" name="name" class="form-control" formControlName="name" required />
                            <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
                            class="error-list">
                            <span class="error-list__error" *ngIf="form.controls.name.errors.required">
                                <small>The name is required</small>
                            </span>
                        </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input id="username" name="username" class="form-control" formControlName="username" required />
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input id="email" name="email" class="form-control" formControlName="email" required />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Company</h6>
                        <div formGroupName="company">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input id="name" name="name" class="form-control" formControlName="name" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="catchPhrase">catchPhrase:</label>
                                        <input id="catchPhrase" name="catchPhrase" class="form-control"
                                            formControlName="catchPhrase" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="bs">bs:</label>
                                        <input id="bs" name="bs" class="form-control" formControlName="bs" />
                                    </div>

                                </div>
                            </div>

                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button (click)="submitForm()" class="btn btn-success btn-lg">Submit</button>
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
</div>
<hr />