@import './colors.scss';

$warning-default: $color-red;
$warning-0: $color-red;
$warning-1: $color-green;
$warning-2: $color-orange;
$warning-3: $color-yellow;
$warning-4: $color-blue;
$warning-5: $color-grey;
